[user]
	name = Magnus Boman
	email = magunasu.b97@gmail.com
	signingkey = 8B86B6AFAAEDB613
[pull]
	rebase = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[color]
	ui = auto
[url "aur:"]
  insteadOf = https://aur.archlinux.org/
#[url "github:"]
#  insteadOf = https://github.com/
[protocol "file"]
	allow = always
[trailer "changeid"]
	key = Change-Id
